.DrawerToggle {
  width: 4rem;
  height: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
  cursor: pointer;

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.DrawerToggle div {
  width: 90%;
  height: 3px;
  background-color: white;
}

@media (min-width: 500px) {
  .DrawerToggle {
      display: none;
  }
}